body {
  font-family: font-family: 'Montserrat', sans-serif;
  color: black;
}

.navbar {
  background-color: white

}
.navbarcontent {
  max-width: 1136px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

ul {
  font-size: 18px;
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

ul li {
  display: inline-block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #111;
}
